{% extends 'base.html.twig' %}

{% block title %}Genus {{ genus.name }}{% endblock %}

{% block body %}
    <h2 class="genus-name">{{ genus.name }}</h2>

    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Subfamily:</dt>
                <dd>{{ genus.subFamily }}</dd>
                <dt>Known Species:</dt>
                <dd>{{ genus.speciesCount|number_format }}</dd>
                <dt>Fun fact:</dt>
                <dd>{{ funFact }}</dd>
            </dl>
        </div>
    </div>

    <div>
        <h4>NOTES</h4>
        <ul>
            {% for genusNote in genusNotes %}
                <li>
                    <p>id: {{ genusNote.id }}</p>
                    <p>{{ genusNote.note }}</p>
                    <p>
                        <img src="/images/{{ genusNote.userAvatarFileName }}">
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
